body {
  width: -webkit-fill-available;
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
}

header {
  text-align: center;
  flex: 0
}

#nav .item {
  display: inline-block;
  width: -webkit-fill-available;
}

h1 {
  display: inline-block;
}

#title {
  padding: 5rem 0;
}

#menubtn {
  margin-top: 3rem;
}

main {
  flex: 1;
  padding-top: 2rem;
}

footer {
  flex: 0
}

.footer {
  padding: 1rem 0;
  text-align: center;
  background-color: #eee;
}

.cards {
  padding-bottom: 2rem;
}

.card {
  padding: .5rem;
}

#seller .list {
  padding: 0 5rem;
}

@media screen and (max-width: 479px) {
  p {
      width: -webkit-fill-available;
      text-align: center;
      line-height: 1.5rem;
      word-wrap: break-word;
  }
}